# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environnements virtuels
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# HA dev
.HA_VERSION
home-assistant.log*

# Builds
*.zip
build/
dist/
*.egg-info/
